.Topbar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0b666a;

  > h2 {
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
