.Header {
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.HeaderContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

}

.UserActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;

    >svg{
        cursor: pointer;
    }
}